<div class="wiki-edit-control-btn">
  <button id="toggle-btn" class="btn btn-secondary btn-sm text-sm">
    {{ _("Preview") }}
  </button>
  <div class="wiki-edit-control-btn flex">
    <div class="btn btn-secondary discard-edit-btn btn-sm" data-new="false">
      {{ _("Discard") }}
    </div>
    <div class="btn-group">
      <div
        type="button"
        class="btn btn-group btn-primary save-wiki-page-btn btn-sm"
        data-wiki-button="saveWikiPage"
      >
        {{ _("Save") }}
      </div>
      <div
        type="button"
        class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="sr-only">{{ _("Toggle Dropdown") }}</span>
      </div>
      <div class="dropdown-menu" aria-labelledby="saveDropdownMenuButton">
        <a
          href="#"
          class="dropdown-item text-sm"
          data-wiki-button="draftWikiPage"
          >{{ _("Draft") }}</a
        >
      </div>
    </div>
  </div>
</div>

<div id="preview-container" class="markdown-preview"></div>
<div class="wiki-editor-container">
  <div class="wiki-title-container">
    <label class="text-sm">{{ _("Title") }}</label>
    <input
      type="text"
      class="form-control wiki-title-input"
      value=""
      placeholder="What's the Wiki Title?"
    />
  </div>
  <label class="text-sm">{{ _("Content") }}</label>
  <div id="wiki-editor"></div>
</div>