<div class="wiki-edit-control-btn">
  <button id="toggle-btn" class="btn btn-secondary btn-sm text-sm">
    Preview
  </button>
  <div class="wiki-edit-control-btn flex">
    <div class="btn btn-secondary discard-edit-btn btn-sm" data-new="false">
      Discard
    </div>
    <div class="btn-group">
      <div type="button" class="btn btn-group btn-primary save-wiki-page-btn btn-sm" data-wiki-button="saveWikiPage">
        Save
      </div>
      <div type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </div>
      <div class="dropdown-menu" aria-labelledby="saveDropdownMenuButton">
        <a href="#" class="dropdown-item text-sm" data-wiki-button="draftWikiPage">Draft</a>
      </div>
    </div>
  </div>
</div>

<div id="preview-container" class="markdown-preview"></div>
<div class="wiki-editor-container">
  <div class="wiki-title-container">
    <label class="text-sm">Title</label>
    <input type="text" class="form-control wiki-title-input" value="" placeholder="What's the Wiki Title?" />
  </div>
  <label class="text-sm">Content</label>
  <div class="editor-container">
    <div class="toolbar">
      <button data-mde-button="bold" title="Bold">
        <i class="fa fa-bold"></i>
      </button>
      <button data-mde-button="italic" title="Italic">
        <i class="fa fa-italic"></i>
      </button>
      <button data-mde-button="heading" title="Heading">
        <i class="fa fa-header"></i>
      </button>
      <button data-mde-button="quote" title="Quote">
        <i class="fa fa-quote-left"></i>
      </button>
      <button data-mde-button="olist" title="Ordered List">
        <i class="fa fa-list-ol"></i>
      </button>
      <button data-mde-button="ulist" title="Unordered List">
        <i class="fa fa-list-ul"></i>
      </button>
      <button data-mde-button="link" title="Link">
        <i class="fa fa-link"></i>
      </button>
      <button data-mde-button="image" title="Image">
        <i class="fa fa-picture-o"></i>
      </button>
      <button data-mde-button="table" title="Table">
        <i class="fa fa-table"></i>
      </button>
    </div>
    <div id="wiki-editor"></div>
  </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">