<div class="modal page-settings-modal fade" id="pageSettingsModal" tabindex="-1" role="dialog"
    aria-labelledby="pageSettingsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title page-settings-title">Page Settings</h5>
                <button type="button" class="d-block d-sm-none close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div>
                        <label class="text-muted text-xs" for="pageRoute">Route</label>
                        <div class="flex align-items-center">
                            <div class="text-sm wiki-space-route-block" title="Wiki Space route (can't be modified)">
                                {{ route.split('/')[0] }}/
                            </div>
                            <input value="{{ '/'.join(route.split('/')[1:]) }}" type="text" id="pageRoute"
                                name="pageRoute" class="form-control"
                                style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
                        </div>
                    </div>
                    <div class="mt-4 flex align-content-center">
                        <input type="checkbox" id="pageHideOnSidebar" {{ 'checked' if bool(hide_on_sidebar) else '' }}
                            name="pageHideOnSidebar">
                        <label class="text-muted text-xs" for="pageHideOnSidebar" class="mt-2">
                            Hide on Sidebar
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-modal-button="update"
                    class="btn btn-primary btn-sm update-page-settings-button">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>