<div class="modal revisions-modal fade" id="revisionsModal" tabindex="-1" role="dialog"
    aria-labelledby="revisionsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex flex-column">
                    <h5 class="modal-title revision-title" id="revisionsModalTitle">{{ title }}</h5>
                    <span class="small text-muted revision-time">{{ current_revision.raised_by_username or
                        current_revision.raised_by or
                        current_revision.owner }} edited {{
                        frappe.utils.pretty_date(current_revision.creation) }}</span>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="revision-content wiki-content">
                    {{ frappe.utils.md_to_html(previous_revision.content) }}
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" data-modal-button="previous"
                    class="previous-revision btn btn-secondary btn-sm hide">Previous</button>
                <button type="button" data-modal-button="next"
                    class="next-revision btn btn-secondary btn-sm hide">Next</button>
            </div>
        </div>
    </div>
</div>