<div class="from-markdown">
	<div class="d-flex justify-content-between align-items-center">
		<h1 class="wiki-title">{{ title }}</h1>
		{%- if has_edit_permission -%}
			<i class="edit-wiki-btn">
				<svg class="icon">
					<use href="#icon-edit"></use>
				</svg>
			</i>
		{%- endif -%}
	</div>
	<div class="wiki-content">
		{{ content }}
	</div>
	<input value={{ name }} class="d-none" name="wiki-page-name"></input>
</div>
<div class="wiki-editor hide"></div>
<div class="wiki-footer">
	<!-- <div class="my-4 wiki-revision-meta">
		<ul class="user-contributions">

			{%- if last_revision -%}
			{{ last_revision.raised_by_username or last_revision.owner }} edited {{ frappe.utils.pretty_date(last_revision.creation) }}
			{%- if number_of_revisions > 0 %}
			&middot;
			<li><a href="/{{ path }}/revisions">{{ number_of_revisions }} Revisions</a>&nbsp;</li>
			{%- endif -%}
			{%- endif -%}
			<li><a href="/{{ path }}/edit-wiki">Edit Page</a>&nbsp;</li>
			<li><a href="javascript:;" onclick="handleDelete()">Delete Page</a>&nbsp;</li>
			<li><a href="/{{ path }}/new-wiki">New Page</a>&nbsp;</li>
		</ul>
	</div> -->

	<div class = "forward-back">
		<a href="#" class="btn left">Left</a>
		<a href="#" class="btn pull-right right">Right</a>
	</div>

</div>

<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
<!-- {{ include_script('libs.bundle.js') }} -->
<!-- {{ include_script('frappe-web.bundle.js') }} -->
<!-- {{ include_script('controls.bundle.js') }} -->
{{ include_script('wiki.bundle.js') }}

<script>
	var user = "{{ user }}"

	function getSidebarItems() {
		let side = {};

		let name = $(".doc-sidebar .web-sidebar").get(0).dataset.name;
		side[name] = [];
		let items = $($(".doc-sidebar .web-sidebar").get(0))
			.children(".sidebar-items")
			.children("ul")
			.not(".hidden")
			.children("li");
		items.each((item) => {
			if (!items[item].dataset.name) return;
			side[name].push({
			name: items[item].dataset.name,
			type: items[item].dataset.type,
			new: items[item].dataset.new,
			title: items[item].dataset.title,
			group_name: items[item].dataset.groupName,
			});
		});

		$('.doc-sidebar [data-type="Wiki Sidebar"]').each(function () {
			let name = $(this).get(0).dataset.groupName;
			side[name] = [];
			let items = $(this).children("ul").children("li");
			items.each((item) => {
			if (!items[item].dataset.name) return;
			side[name].push({
				name: items[item].dataset.name,
				type: items[item].dataset.type,
				new: items[item].dataset.new,
				title: items[item].dataset.title,
				group_name: items[item].dataset.groupName,
			});
			});
		});

		return side;
	}

	new RenderWiki();

	// function handleDelete() {
	// 	if (user === "Guest")
	// 		window.location.assign("/login")
	// 	else	
	// 		frappe.confirm('Are you sure you want to delete the Wiki Page?',
	// 			() => {
	// 				frappe.call({
	// 				method: "wiki.wiki.doctype.wiki_page.wiki_page.delete_wiki_page",
	// 				args: {
	// 					wiki_page_route: new URL(window.location.href).pathname
	// 				},
	// 				callback: (r) => {
	// 					if (r.message)
	// 						window.location.assign("/wiki")
	// 				}
	// 			})
	// 		})
	// }
</script>

{%- if script -%}
<script>{{ script }}</script>
{%- endif -%}
