{% macro render_sidebar_item(item) %}
<li class="sidebar-item"
		data-type="{{item.type}}" 
		data-name="{{item.name}}" 
		data-title="{{item.title or item.name}}"
		data-group-name="{{item.group_name or 'sidebar-item'}}"
		data-route="{{ item.route }}"
	>
	<div>
		<a href="{{ item.route }}">
			{{ item.title or item.name }}
		</a>
	</div>
</li>
{% endmacro %}

{% macro render_sidebar_items(sidebar_items) %}
	{%- if sidebar_items | len > 0 -%}
		<ul class="list-unstyled" style="min-height: 20px;">
			{% for sidebar_group in sidebar_items -%}
				<li class="sidebar-group"
					data-type="Wiki Sidebar"
					data-title="{{sidebar_group}}"
				>
					<div class="collapsible">
						<span class='h6'>{{ sidebar_group }}</span>
					</div>
					<ul class="list-unstyled" style="min-height: 20px;">
						{% for item in sidebar_items[sidebar_group] -%}
							{{ render_sidebar_item(item) }}
						{%- endfor %}
					</ul>
				</li>
			{%- endfor %}
		</ul>
		{%- if has_edit_permission -%}
			<div class="sidebar-edit-mode-btn">
				<svg class="icon sidebar-edit-mode-pencil">
					<use href="#icon-edit"></use>
				</svg>
				<span class="text-muted small">Edit Sidebar</span>
			</div>
		{%- endif -%}
	{%- endif -%}
{% endmacro %}

{% macro my_account() %}
<ul class="list-unstyled management">
	<li class="sidebar-item">
		<a class='new-wiki-page text-muted' href="placeholder_link">{{ _("Add a new page") }}</a>
	</li>
</ul>
{% endmacro %}

<div class="web-sidebar" data-name="{{docs_search_scope}}">
	{% if sidebar_title %}
	<li class="title">
		{{ sidebar_title }}
	</li>
	{% endif %}
	<div class="sidebar-items">
		{{ render_sidebar_items(sidebar_items) }}
	</div>
</div>