{% extends "wiki/doctype/wiki_page/templates/base.html" %}

{%- block head_include %}
<link rel="stylesheet" href="/assets/frappe/css/hljs-night-owl.css">
{% endblock -%}

{% block content %}

{% macro container_attributes() -%}
id="page-{{ name or route | e }}" data-path="{{ pathname | e }}"
{%- if page_or_generator=="Generator" %}source-type="Generator" data-doctype="{{ doctype }}"{%- endif %}
{%- if source_content_type %}source-content-type="{{ source_content_type }}"{%- endif %}
{%- endmacro %}

{%- block wiki_navbar -%}
	{% include "wiki/doctype/wiki_page/templates/wiki_navbar.html" %}
{%- endblock -%}

<div class="row no-gutters flex-nowrap" {{ container_attributes() }}>
    <div class="sidebar-column">
        <aside class="doc-sidebar">
            {% block page_sidebar %}
            {% include "templates/includes/web_sidebar.html" %}
            {% endblock %}
        </aside>
    </div>

	<div class="main-column doc-main">
		<div class="wiki-page-content">
			{% block page_container %}
			<main>
					{%- block page_content -%}{%- endblock -%}
			</main>
			{% endblock %}
		</div>
	</div>
	{% block page_toc %}
	<!-- 2 if blocks to avoid the toc jerking thing on reload -->
	{% if page_toc_html %}
		<div class="page-toc d-none d-xl-block">
			{% if page_toc_html %}
				<p class="page-toc-title">{{ _("On this page") }}</p>
				<div class='list-unstyled'>
					<ul>
						{{ page_toc_html }}
					</ul>
				</div>
			{% endif %}
		</div>
		{% endif %}
	{% endblock %}
</div>

{% endblock %}
