include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include wiki *.css
recursive-include wiki *.csv
recursive-include wiki *.html
recursive-include wiki *.ico
recursive-include wiki *.js
recursive-include wiki *.json
recursive-include wiki *.md
recursive-include wiki *.png
recursive-include wiki *.py
recursive-include wiki *.svg
recursive-include wiki *.txt
recursive-exclude wiki *.pyc