#navbar-dropdown{
  flex-grow: 1;
  display: flex;
  justify-content: end;
  height: 80%;
  cursor: pointer;
  align-items: center;
}

#navbar-dropdown-content {
  position: absolute;
  left: 10px;
  top: 100%;
  padding: 6px;
  background-color: var(--navbar-dropdown-bg-color);
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 10px 24px -3px #0000001a;

  a {
    color: inherit !important;
    text-decoration: none !important;
  }

  a:hover {
      color:inherit !important;
      text-decoration:none !important;
      cursor:pointer !important;
  }

  .app-switcher {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    padding: 6px;
  }

  .app-switcher:hover{
    background-color: var(--navbar-dropdown-hover-color);
    border-radius: 4px;
  }
}


.dropdown-toggle.wiki-options::after {
  display: none;
}

.wiki-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;

  svg {
    width: 2rem;
  }

  .dropdown-menu {
    min-width: 7.5rem;
  }
}

.wiki-options:hover {
  background-color: var(--gray-200);
  border-radius: 5px;
}

.dark .wiki-options:hover {
  background-color: var(--gray-700);
}