@import "frappe/public/scss/website/variables";

body {
	--icon-stroke: var(--text-color);

	--editor-line-no-bg-color: var(--gray-100);
}

body.dark {
	--editor-line-no-bg-color: var(--gray-800);
	--control-bg-on-gray: var(--gray-700);

	.draft-wiki-page {
		background: var(--gray-700);
		color: var(--gray-50);
	}
}

.remove-sidebar-item {
	margin-right: 0.5rem;
}

.form-control {
	background-color: white;
}

.trash-icon {
	visibility: hidden;
}

.sidebar-item:hover .trash-icon,
.sidebar-group .collapsible:hover .trash-icon {
	visibility: visible;
}

$font-sizes-desktop: (
	"sm": 0.75rem,
	"base": 1rem,
	"lg": 1.125rem,
	"xl": 1.41rem,
	"2xl": 1.6rem,
	"3xl": 2rem,
);

$font-sizes-mobile: (
	"sm": 0.75rem,
	"base": 1rem,
	"lg": 1.125rem,
	"xl": 1.25rem,
	"2xl": 1.5rem,
	"3xl": 1.75rem,
);

.wiki-editor,
.from-markdown {
	margin: auto;
}

.wiki-editor,
.wiki-content {
	font-size: map-get($font-sizes-desktop, "base");
	color: var(--editor-button-text-color);
	line-height: 1.7;
	letter-spacing: -0.011em;
	max-width: calc(100vw - 6rem);

	> :first-child {
		margin-bottom: 0 !important;
	}

	p {
		color: var(--text-color);
	}

	ul,
	ol {
		padding-left: 2rem;
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style: decimal;
	}

	li {
		color: var(--text-color);
		padding-top: 1px;
		padding-bottom: 1px;

		&::marker {
			color: var(--text-color);
		}

		p {
			margin-bottom: 0;
		}
	}

	li>ul,
	li>ol {
		padding-left: 1.5rem;
	}

	ul>li:first-child {
		margin-top: 3px !important;
	}

	ul>*+*,
	ol>*+* {
		margin-top: 2px !important;
	}

	blockquote {
		padding: 0.75rem 1rem 0.75rem 1.25rem;
		font-size: $font-size-sm;
		font-weight: 500;
		border: 1px solid var(--bqoute-border-color);
		border-left: 5px solid var(--bqoute-border-color);
		border-radius: 0.5rem;
		margin: 1.5rem 0 !important;
		background-color: var(--bqoute-bg-color);
	}

	blockquote p:last-child {
		margin-bottom: 0 !important;
	}

	b,
	strong {
		color: $gray-800;
		font-weight: 600;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $gray-900;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;
	}

	h1 {
		font-size: map-get($font-sizes-desktop, "3xl");
		line-height: 1.5;
		letter-spacing: -0.021em;
		font-weight: 600;

		@include media-breakpoint-up(md) {
			letter-spacing: -0.024em;
		}

		// for byline
		&+p {
			margin-top: 1.5rem !important;
			line-height: 1.4;
		}
	}

	&>p {
		margin-top: 1.5rem !important;
	}

	h2 {
		font-size: map-get($font-sizes-mobile, "2xl");
		line-height: 1.56;
		letter-spacing: -0.015em;
		margin: 3rem 0 1rem !important;

		@include media-breakpoint-up(md) {
			font-size: map-get($font-sizes-desktop, "2xl");
			letter-spacing: -0.0195em;
		}
	}

	h3 {
		font-size: map-get($font-sizes-mobile, "xl");
		line-height: 1.56;
		letter-spacing: -0.014em;
		margin: 2rem 0 1rem !important;

		@include media-breakpoint-up(md) {
			font-size: map-get($font-sizes-desktop, "xl");
			letter-spacing: -0.0175em;
		}
	}

	h4 {
		font-size: map-get($font-sizes-mobile, "lg");
		line-height: 1.56;
		letter-spacing: -0.014em;
		margin-top: 1rem !important;
	}

	h5:not(.modal-title) {
		font-size: map-get($font-sizes-mobile, "base");
		line-height: 1.5;
		letter-spacing: -0.011em;
		font-weight: 600;
		margin-top: 1rem !important;
	}

	h6 {
		font-size: map-get($font-sizes-mobile, "sm");
		line-height: 1.35;
		font-weight: 600;
		text-transform: uppercase;
		margin-top: 1rem !important;
	}

	tr>td,
	tr>th {
		font-size: $font-size-sm;
		padding: 0.5rem;
	}

	th:empty {
		display: none;
	}

	.screenshot {
		border: 1px solid $gray-400;
		border-radius: 0.375rem;
		margin-top: 0.5rem !important;
	}

	.screenshot+em {
		text-align: center;
		display: block;
		margin-top: 0.5rem !important;
		margin-bottom: 2rem !important;
	}

	p>code:not(.hljs) {
		padding: 0 0.25rem;
		background-color: var(--code-bg-color);
		color: var(--code-text-color);
		border-radius: 0.125rem;
	}

	table {
		border-color: $gray-200;
		border-collapse: collapse;
		table-layout: fixed;
		width: 100%;
		margin: 0;
		overflow: hidden;

		td,
		th {
			min-width: 1em;
			border: 2px solid #ced4da;
			padding: 3px 5px;
			vertical-align: top;
			box-sizing: border-box;
			position: relative;

			>* {
				margin-bottom: 0;
			}
		}

		th {
			font-weight: bold;
			text-align: left;
			background-color: var(--active-item-color);
		}

		.selectedCell:after {
			z-index: 2;
			position: absolute;
			content: "";
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: rgba(200, 200, 255, 0.4);
			pointer-events: none;
		}

		.column-resize-handle {
			position: absolute;
			right: -2px;
			top: 0;
			bottom: -2px;
			width: 4px;
			background-color: #adf;
			pointer-events: none;
		}

		p {
			margin: 0;
		}
	}

	.table-bordered,
	.table-bordered th,
	.table-bordered td {
		border-left: none;
		border-right: none;
		border-color: $gray-200;
	}

	.table-bordered thead th,
	.table-bordered thead td {
		border-bottom-width: 1px;
	}

	pre {
		margin: 1rem 0;
		background: #011627;
		color: #D6DEEB;
		border-radius: 0.5rem;
		overflow: hidden;
		position: relative;

		&:hover .copy-btn {
			visibility: visible;
		}

		.copy-btn {
			visibility: hidden;
			right: 0.5rem;
			padding: 0.75rem;
			position: absolute;
			background-color: inherit;

			&:hover {
				color: var(--gray-500);
				background-color: inherit;
				border-color: inherit;
			}

			&:focus {
				box-shadow: none;
			}
		}

		code {
			overflow-x: auto;
			color: inherit;
			background: none !important;

			del {

				&.diffmod,
				&.diffdel {
					background-color: #8B0000;
				}
			}

			ins {

				&.diffmod,
				&.diffins {
					background-color: #006400;
				}
			}
		}
	}
}

.wiki-editor {
	margin: 1rem auto;
	border-radius: 1rem;
	border: 1px solid $gray-200;

	pre {
		padding: 0.75rem 1rem;
	}

	h1 {
		margin-top: 0.75rem;
	}

	button:not(.btn-primary) {
		all: unset;
		cursor: pointer;
		padding: 0.25rem;
		margin: 0.25rem;
		border-radius: 0.25rem;
	}

	button:hover {
		background-color: var(--editor-hover-button-color);
	}

	.is-active {
		background-color: var(--editor-hover-button-color) !important;
	}

	.dropdown {
		display: inline-block;

		#dropdownMenuButton::after {
			display: none;
		}
	}

	.ProseMirror {
		height: 80vh;
		overflow-y: auto;
		padding: 0 1rem;

		@include media-breakpoint-down(md) {
			padding-right: 1rem;
			width: 92vw;
		}

		.is-empty::before {
			content: attr(data-placeholder);
			float: left;
			color: #ced4da;
			pointer-events: none;
			height: 0;
		}

		&:focus-visible {
			outline: none;
		}
	}

	img.ProseMirror-selectednode {
		border: 2px solid #7CBCF5;
	}

	> :last-child {
		overflow: auto;
		margin-top: 0 !important;
		border-top: 1px solid $gray-200;
	}

	> :first-child {
		padding: 0 1rem;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		.wiki-edit-controls {
			flex-wrap: wrap;
			display: inline-flex;

			.vertical-sep {
				border-right: 1px solid $gray-200;
			}
		}

		.wiki-edit-control-btn {
			margin-left: auto;
			display: inline-flex;

			>* {
				margin: 0.5rem 0.25rem;
			}
		}
	}
}

.wiki-content {
	min-height: 55vh;

	@include media-breakpoint-down(md) {
		max-width: calc(100vw - 3rem);
	}

	div>p:first-child {
		margin-top: 1.5rem !important;
		line-height: 1.4;
	}

	code {
		padding: 0.75rem 1rem;
	}

	// tiptap task-list
	ul[data-type="taskList"] p {
		margin: 0 !important;
	}
}

// button
.btn:hover {
	color: #000;
	background-color: #f9fafb;
	border-color: #f9fafb;
}

.btn.btn-primary:hover {
	color: #fff;
	background-color: #383838;
	border-color: #383838;
}

// tiptap task-list
ul[data-type="taskList"] {
	list-style: none;
	padding: 0;

	p {
		margin: 0;
	}

	li {
		display: flex;

		>label {
			flex: 0 0 auto;
			margin-right: 0.25rem;
			margin-bottom: 0;
			user-select: none;
		}

		>div {
			flex: 1 1 auto;
		}

		ul li,
		ol li {
			display: list-item;
		}

		ul[data-type="taskList"]>li {
			display: flex;
		}

		input {
			color: #000;
			margin: .1rem;
			margin-top: 0.4rem;
			border: 1.25px solid black;
			accent-color: black;
		}
	}
}