@import "frappe/public/scss/website/variables";
@import "frappe/public/css/fonts/inter/inter";

body {
	--gray-800: #1C2126;
	--gray-900: #161A1F;

	// light mode vars
	--background-color: white;
	--sidebar-bg-color: #f6f6f7;
	--sidebar-hover-color: #ebebe9;
	--toc-hover-text-color: var(--gray-900);

	--btn-text-color: var(--gray-900);
	--btn-secondary-color: #f4f5f6;
	--btn-secondary-hover-color: var(--gray-300);

	--active-item-color: #f1f1f0;
	--active-item-text-color: $primary;

	--searchbar-color: #f4f5f6;
	--border-color: var(--gray-300);

	--bqoute-border-color: var(--gray-400);
	--bqoute-bg-color: var(--gray-50);

	--code-bg-color: var(--light);
	--code-text-color: var(--purple-600);

	--sidebar-text-color: var(--gray-600);
	--sidebar-text-hover-color: #37352f;

// ------------------------------------------

	font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;

	background-color: var(--background-color);
	color: var(--text-color);
}

body.dark {
	// dark mode vars
	--background-color: var(--gray-800);
	--text-color: var(--gray-50);
	--sidebar-bg-color: var(--gray-900);
	--sidebar-hover-color: var(--blue-900);
	--toc-hover-text-color: var(--gray-500);

	--btn-text-color: var(--blue-500);
	--btn-color: var(--gray-700);
	--btn-secondary-color: var(--gray-700);
	--btn-secondary-hover-color: var(--gray-500);

	--active-item-color: var(--gray-700);
	--searchbar-color: #242a30;
	--border-color: var(--gray-700);

	--bqoute-border-color: #47474d;
	--bqoute-bg-color: var(--gray-900);

	--code-bg-color: var(--purple-900);
	--code-text-color: var(--purple-50);
	--input-bg-color: #242A30;

	--sidebar-text-color: #909090;
	--sidebar-text-hover-color: #f4f5f6;

	--bg-orange: var(--orange-600);
	--text-on-orange: var(--orange-50);
	--bg-green: var(--green-700);
	--text-on-green: var(--green-50);

	&, .web-sidebar, .ProseMirror {
		&::-webkit-scrollbar {
			width: 15px;
		}

		&::-webkit-scrollbar-track {
			background: #2e2e2e;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #757575;
			border-radius: 20px;
			border: 3px solid #2e2e2e;
		}
	}
}

// diff
textarea.wiki-content {
	font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
		monospace;
	font-size: $font-size-sm;
}

.nav-tabs {
	font-size: var(--font-size-sm);
}

.wiki-preview {
	min-height: 600px;
}

.wiki-footer {
	border-top: 1px solid var(--border-color);
	margin-top: 1rem;

	.btn {
		margin-top: 1rem;
		color: var(--text-color);
		border: 1px solid var(--border-color);
		border-radius: 8px;
		padding: 11px 16px 13px;
		width: 48%;
		height: 100%;
		transition: border-color .25s;
		box-shadow: unset;

		p {
			line-height: 20px;
			margin: 0;

			&:first-child {
				font-size: 12px;
				font-weight: 500;
				color: var(--sidebar-text-color);
			}

			&:last-child {
				font-size: 14px;
				font-weight: 500;
				color: var(--primary);
				transition: color .25s;
			}
		}

		&:hover {
			background-color: transparent;
			border: 1px solid var(--primary);
		}
	}

	.btn.left {
		margin-right: auto;
		text-align: left;
	}

	.btn.right {
		margin-left: auto;
		text-align: right;
	}
}

.wiki-revision-meta {
	font-size: $font-size-sm;
	display: flex;
	justify-content: space-between;
}

.restore-wiki-revision {
	float: right;
	@include media-breakpoint-down(sm) {
		float: none;
		margin: 10px 0;
	}
}

.revision-message {
	display: inline;
	@include media-breakpoint-down(sm) {
		display: block;
	}
}

// sidebar

.list-unstyled:first-child > * {
	padding: 0.75rem 0;

	&::before{
		content: '';
		position: relative;
		top: -0.75rem;
		left: 0.5rem;
		border-top: 1px solid var(--border-color);
		width: 99.8%;
		display: block;

		@include media-breakpoint-down(md) {
			width: 95%;
		}
	}

	&:first-child {
		padding-top: 0.7rem;
		border-top: 0;
	}
}

.sidebar-group {
	margin: 0;
	font-style: normal;
	font-weight: 500;
	font-size: $font-size-base;
	line-height: 1.5;
	/* identical to box height, or 28px */

	letter-spacing: -0.011em;

	ul.list-unstyled {
		ul {
			padding-left: 0;
		}
	}

	> ul {
		padding-left: 0;
		margin-bottom: 0;
	}

	.collapsible {
		padding: 4px 0.5rem;
		display: flex;
		align-items: center;
		width: 100%;
	}

	.active {
		border-radius: 4px;
		color: $primary;
		background-color: #ebf5ff;
	}

	div {
		cursor: pointer;
		.h6 {
			font-size: $font-size-sm;
			margin-bottom: 0;
			line-height: 1.5rem;
			color: var(--text-color);
			font-weight: 700;
		}
	}

	.sidebar-item {
		a {
			margin: 0;
			font-weight: 500;
			width: 100%;
		}
	}
	
	.drop-icon,
	.add-sidebar-page {
		display: inline-flex;
		margin: 4px 5px 2.5px auto;
		transition: transform 0.2s ease-in-out;
		transform: rotate(0deg);

		&.rotate {
			transform: rotate(-90deg);
		}

		&:hover {
			color: var(--sidebar-text-hover-color);
		}
	}
}


// hover bg only on edit mode
.sidebar-group:not(.disabled) .collapsible,
.sidebar-item:not(.disabled) {
	&:hover {
		background-color: var(--sidebar-hover-color);
	}
}

.sidebar-group .collapsible,
.sidebar-item {
	margin: 1px 0;
	color: var(--sidebar-text-color);

	&:hover:not(.active) {
		color: var(--sidebar-text-hover-color);
		border-radius: 4px;
	}
}

.sidebar-item.active {
	background-color: transparent;
	border-radius: 4px;

	a {
		background-color: transparent;
		color: var(--active-item-text-color);
	}
}

.sidebar-item {
	display: flex;

	a {
		color: inherit;
		margin-top: 0 !important;
	}
	
	:first-child {
		margin-right: auto;
	}

	a:hover {
		color: inherit;
	}
}

.sm-sidebar .web-sidebar {
	padding-bottom: 2rem;
}

.web-sidebar {
	position: relative;
}

.doc-sidebar {
	height: 100vh;
	margin-bottom: 0;

	.web-sidebar {
		display: flex;
		flex-direction: column;
		margin-bottom: 8px;
		margin-right: -0.5rem;
		padding-top: 0;
		padding-bottom: 0;
		overflow-x: hidden;
		margin-left: 2rem;

		.sidebar-items {
			width: 18rem;
			margin-bottom: auto;

			.list-unstyled {
				max-width: 16rem;
			}
		}
	}
}

@media (min-width: 992px) {
	.doc-sidebar {
		top: 0;
		padding-bottom: 0;
	}
}

// navbar
.navbar-nav {
	height: 100%;
	background-color: var(--background-color);
	
	.dropdown-menu {
	    position: sticky;
		background-color: var(--background-color);
		border: 1px solid var(--border-color);

		.dropdown-item {
			color: var(--text-color);
			
			&:focus-visible {
				outline: none;
			}
		}

		.dropdown-item:hover {
			background-color: var(--sidebar-hover-color);

			.h6 {
				color: var(--background-color) !important;
			}
		}
	}
	
}

.nav-item {
	margin-left: 24px;

	#search-container {
		width: 312px;
		height: 100%;
		padding-right: 0px;
		padding-left: 0px;
		.dropdown {
			height: 100%;

			input {
				height: 100%;
				background: var(--searchbar-color);
				border-radius: 4px;
			}
		}
	}

	.nav-link {
		font-style: normal;
		font-weight: normal;
		font-size: $font-size-base;
		line-height: 150%;
		/* identical to box height, or 24px */

		letter-spacing: -0.011em;

		color: $body-color;
		padding-left: 0rem !important;
		padding-right: 0rem !important;
	}

	select {
		height: 100%;
	}
}
.navbar {
	position: sticky;
	top: 0;
	z-index: 1020;
	background-color: transparent;
	padding-top: 0;
	margin-left: auto;

	@include media-breakpoint-down(md) {
		width: auto;
		padding: 0 0 1rem 0;
	}

	.doc-container .navbar-collapse {
		padding-top: 2rem;
		margin-top: -1rem;
		background-color: var(--background-color);
		margin-left: 2rem;
		padding-bottom: 1rem;

		@include media-breakpoint-down(md) {
			padding-top: 0;
			margin: 0;
		}
	}
	.container {
		height: 36px;
	}

	.sun-moon-container {
		cursor: pointer;
		margin: 0.25rem 0 auto 1rem;

		@include media-breakpoint-down(md) {
			margin: 0.25rem 0 1rem 0.5rem;
		}
	}
}

.navbar-light {
	border-bottom: 0;
}

.doc-layout {
	padding-top: 0rem;
	margin: 0;
	max-width: 100%;
}

.navbar-brand {
	padding-bottom: 1rem;
	color: var(--text-color) !important;
	img {
		max-height: 18px;
	}
}

.container-fluid.doc-layout.doc-container {
	@include media-breakpoint-down(md) {
		border-bottom: 1px solid var(--border-color);
	}
}

.navbar-brand-container {
	border-bottom: 1px solid var(--border-color);
	width: 16rem;
	background-color: var(--sidebar-bg-color);
	padding-top: 1.4rem;
	margin-left: 0.5rem;
	position: sticky;
	top: 0;
	z-index: 5;

	@include media-breakpoint-down(md) {
		border-bottom: 0;
		width: calc(max-width - 27px);
		position: inherit;
		background-color: var(--background-color);
	}
}

// main-content
.main-column {
	background-color: var(--background-color);
	flex: 8;
	text-align: left;

	.page-content-wrapper {
		margin: 0 2rem 3.5rem;;
		padding: 0 2rem 2rem !important;

		@include media-breakpoint-down(md) {
			margin: 0;
		}
	}
}

.wiki-flex {
	flex-wrap: nowrap;
}

.doc-content .from-markdown > :first-child {
	margin-top: 0;
}

.from-markdown > blockquote {
	border: 1px solid var(--border-color);
	border-left: 3px solid #ffc107;
}

.doc-content {
	max-width: 900px;
	margin: auto;

	.from-markdown {
		.edit-wiki-button {
			cursor: pointer;
		}

		p {
			font-size: 1rem;
		}

		h2 {
			margin-top: 2.5rem;
		}
	}
	@include media-breakpoint-down(md) {
		width: auto;
		margin: unset;
	}
}

.feather-link {
	visibility: hidden;
}

// TODO: clear this when website related css is removed
.doc-content .from-markdown {
	h1, h2, h3, h4, h5, h6{
		&::before {
			height: 0;
			margin-top: 0;
		}
	}
}

.hljs {
	overflow-x: visible;
}

h2:hover .feather-link,
h3:hover .feather-link,
h4:hover .feather-link,
h5:hover .feather-link,
h6:hover .feather-link {
	visibility: visible;	
}

.btn.btn-secondary {
	background-color: var(--btn-secondary-color);

	&:hover {
		background-color: var(--btn-secondary-hover-color);
	}
}

.edit-wiki-btn {
	width: 2rem;
	height: 2rem;
	margin-top: 1rem;

	svg {
		width: 2rem;
	}
}

.edit-wiki-btn:hover {
	background-color: var(--gray-200);
	border-radius: 5px;
}

.dark .edit-wiki-btn:hover{
	background-color: var(--gray-700);
}

// toc
.page-toc {
	background-color: var(--background-color);
	flex: 2;
	font-size: $font-size-xs;
	position: sticky;
	top: 72px;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none;
	height: 90vh;

	.list-unstyled {
		top: 0;
	}

	h5 {
		font-size: $font-size-xs;
	}

	div {
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 2rem;
		padding-bottom: 2rem;
		ul {
			padding-bottom: 0;
			margin-bottom: 0;
		}

		.h5 {
			font-style: normal;
			font-weight: 500;
			font-size: $font-size-xs;
			line-height: 1.35;
			color: $headings-color;
		}
	}

	li {
		padding-left: 4px;
		margin: 2px 0;
	}

	.active {
		border-radius: 4px;
		color: $primary;
		background-color: var(--active-item-color);
		border-left: 3px solid $primary;
		border-radius: 0.1rem 0.375rem 0.375rem 0.1rem;
	}

	a {
		padding: 0.25rem;
		color: var(--text-color);

	}
	a:hover:not(.active) {
		color: var(--toc-hover-text-color);
	}
}

.breadcrumb-item + .breadcrumb-item::before {
	content: "";
	display: none;
}

.breadcrumb-item + .breadcrumb-item {
	padding-left: 0;
}

.doc-sidebar {
	padding-right: 0.5rem;
	margin-left: -15rem;
	padding-left: 15rem;
	background-color: var(--sidebar-bg-color);
}

ul.user-contributions {
	margin: 1rem 0 0 auto;
	color: var(--sidebar-text-color);
	font-size: 0.8rem;
}

ul.user-contributions li {
	margin: 0 4px;
}

/*
====
breadcrumbs
====
*/

.doc-content .breadcrumb-container {
	margin-top: 0rem; /* spacing adjusment for breadcrumb */
	margin: 0;
	padding: 0;
}

ol.breadcrumb {
	li [itemprop="item"] {
		align-self: center;
	}
}

/*
====
navbar
====
*/

.navbar .navbar-light {
	.navbar-expand-lg {
		width: 100%;
		position: fixed;
		top: 0; /*ensure navbar stays affixes to the top*/
		left: 0;
		right: 0;
	}

	.nav-link {
		color: var(--text-color);
	}
}

.form-control:focus {
	color: var(--text-color);
	border: 1px solid var(--gray-500);
}

@include media-breakpoint-down(md) {
	.navbar {
		position: inherit;
	}

	.navbar-expand-lg .doc-container {
		padding: 0.5rem 0;
	}

	.web-sidebar {
		padding-top: 0;
	}

	.web-sidebar > a {
		display: none;
	}

	.page-content-wrapper {
		margin-top: 0 !important;
	}

	.wiki-footer {
		.btn.left,
		.btn.right {
			width: 100%;
			margin-bottom: 10px;
		}
	}

	.nav-item {
		margin-left: 0;

		#search-container {
			margin: 10px 0;
			width: 100%;
		}
	}
	.search-nav-item {
		height: 2.2rem;
	}
	// #dropdownMenuSearch {
	//   margin-right: 20px;
	// }
}

.my-contributions,
.new-wiki-page,
.sidebar-edit-mode-btn,
.add-sidebar-group {
	padding: 0.25rem 0.5rem;
	cursor: pointer;
	margin: auto;
	font-weight: 500;

	svg {
		margin-bottom: 0.1rem;
	}
}

.web-footer {
	border-top: 1px solid var(--border-color);
	background-color: var(--background-color);
}

.search-nav-item {
	position: relative;

	svg {
		top: 10px;
		right: 12px;
		position: absolute;
	}
}

// contributions page

.contributions-header {
	margin: 2rem 0 1.5rem 0;
	font-size: $font-size-xl;
	font-weight: 700;
	line-height: 16px;
}

.count {
	font-size: var(--text-xs);
    background-color: var(--gray-500);
    border-radius: var(--border-radius-sm);
    color: var(--gray-50);
    padding: 0 var(--padding-xs);
	float: right;
	margin-top: 2px;
}

img::after{
	content: '';
}

img[alt]::after{
	width: unset;
	height: unset;
}

// body
// make sm / xl sizes the same

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: var(--text-color) !important;
}

h1 {
	font-size: 1.75rem;
	line-height: 1.25;
	letter-spacing: -0.02em;
	margin-top: 3rem;
	margin-bottom: 0.75rem;

	@include media-breakpoint-up(sm) {
		font-size: 2rem;
		margin-top: 1rem;
		margin-bottom: 0;
	}
}

h2 {
	font-size: 1.5rem;
	margin-top: 2rem;
	margin-bottom: 0.5rem;

	@include media-breakpoint-up(sm) {
		margin-top: 4rem;
		margin-bottom: 0.75rem;
	}
}

h3 {
	font-size: 1.25rem;
	margin-top: 2rem;
	margin-bottom: 0.5rem;

	@include media-breakpoint-up(sm) {
		margin-top: 2.5rem;
	}
}

h4 {
	font-size: 1.125rem;
	margin-top: 2rem;
	margin-bottom: 0.5rem;

	@include media-breakpoint-up(sm) {
		margin-top: 2.5rem;
	}
	a {
		color: $body-color;
	}
}

h5 {
	font-size: 0.875rem;
}

h6 {
	font-size: 0.75rem;
}

p {
	font-size: 1rem;
}

// dialog boxes

.modal {
	.modal-content {
		background-color: var(--background-color);
	}

	.modal-body {
		padding-top: 0;
		padding-bottom: 0;

		label {
			color: var(--text-color);
		}

		input:focus, textarea:focus {
			background-color: var(--searchbar-color);
		}
	}
}

// edit mode

.ProseMirror:focus-visible {
	outline: none;
}

.vertical-sep {
	display: inline;
	padding: 0.2rem 0;
  	border-right: 1px solid $gray-200;
}
