{% extends "wiki/doctype/wiki_page/templates/wiki_page.html" %}

{%- block head_include %}
{{ super() }}
{{ include_style('wiki.bundle.css') }}
{{ include_style('contributions.bundle.css') }}
{% endblock -%}

{% block page_content %}
<div class="modal fade" id="patchDiffModal" tabindex="-1" role="dialog" aria-labelledby="patchDiffModalTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content review-patch-modal">
			<div class="modal-header">
				<div class="d-flex flex-column">
					<h5 class="modal-title" id="patchDiffModalTitle">Review Changes</h5>
					<span class="small text-muted patch-info"></span>
				</div>
				<div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<div class="view-toggle-buttons-wrapper">
						<div class="view-toggle-buttons">
							<button type="button" class="btn btn-sm btn-default view-raw active">View Raw</button>
							<button type="button" class="btn btn-sm btn-default view-preview">View Preview</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-body">

				<pre class="diff-content active"></pre>
				<div class="preview-content"></div>
			</div>
			<div class="modal-footer review-modal-footer">
				<button type="button" class="btn approve-patch">Approve</button>
				<button type="button" class="btn reject-patch">Reject</button>
			</div>
		</div>
	</div>
</div>

<input class="d-none" type="text" autocomplete="off" name="limit" value="{{patches|length}}">

<div class='contributions-header'> All Contributions </div>
<div class="filters-wrapper">
	<div class="space-filter">
		<label for="space-filter">Space</label>
		<select class="w-auto" id="space-filter">
			<option value="">All Spaces</option>
			{% for space in spaces %}
			<option value="{{ space.name }}" {% if selected_space==space.name %}selected{% endif %}>{{ space.space_name }}
			</option>
			{% endfor %}
			<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd"
					d="M5.85355 10.6464C5.65829 10.4512 5.34171 10.4512 5.14645 10.6464C4.95118 10.8417 4.95118 11.1583 5.14645 11.3536L7.64645 13.8536C7.84171 14.0488 8.15829 14.0488 8.35355 13.8536L10.8536 11.3536C11.0488 11.1583 11.0488 10.8417 10.8536 10.6464C10.6583 10.4512 10.3417 10.4512 10.1464 10.6464L8 12.7929L5.85355 10.6464ZM5.85355 5.35355C5.65829 5.54882 5.34171 5.54882 5.14645 5.35355C4.95118 5.15829 4.95118 4.84171 5.14645 4.64645L7.64645 2.14645C7.84171 1.95118 8.15829 1.95118 8.35355 2.14645L10.8536 4.64645C11.0488 4.84171 11.0488 5.15829 10.8536 5.35355C10.6583 5.54882 10.3417 5.54882 10.1464 5.35355L8 3.20711L5.85355 5.35355Z"
					fill="#525252" />
			</svg>

		</select>
	</div>
</div>
<div class="frappe-card">
	<div class="table-area all-contributions">
		<div class="list-jobs table-responsive">
			{% if patches %}
			<table class="table">
				<thead class="white">
					<tr>
						<td class="message-col">{{ _("Message") }}</th>
						<td class="status-col">{{ _("Status") }}</th>
						<td class="space-col">{{ _("Space") }}</th>
						<td class="raised-by-col">{{ _("Raised By") }}</th>
						<td class="date-col">{{ _("Last update on") }}</th>
					</tr>
				</thead>
				<tbody>
					{% for patch in patches %}
					<tr class="patch-row" data-patch="{{ patch.name }}">
						<td class="message-cell" title="{{ patch.message }}">{{ patch.message }}</td>
						<td class="worker-name" title="{{patch.status}}"><span
								class="indicator-pill no-margin {{patch.color}}">&nbsp;&nbsp;{{patch.status}}</span></td>
						<td class="space-cell" title="{{ patch.space_name }}">{{ patch.space_name }}</td>
						<td class="raised-by-cell" title="{{ patch.raised_by }}">{{ patch.raised_by }}</td>
						<td title="{{ patch.modified }}">{{ patch.modified }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<div class="no-background-jobs">
				<img src="/assets/frappe/images/ui-states/list-empty-state.svg" alt="Empty State">
				<p class="text-muted">{{ _("No Pending Contributions") }}</p>
			</div>
			{% endif %}
		</div>
	</div>
</div>

{% if patches %}
<br>
<div> <button class='btn pull-right get_patches'>More</button></div>
<br>
<br>
{% endif %}

{% endblock %}

{% block base_scripts %}
<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
{{ include_script("frappe-web.bundle.js") }}
{{ include_script("diff_modal.js") }}

<script>
	if (parseInt($('[name="limit"]').val()) < 10) $('.get_patches').hide();

	// Handle row click to show diff modal
	$(document).on('click', '.patch-row', function () {
		const patchName = $(this).data('patch');

		frappe.call({
			method: "wiki.www.all-contributions.index.get_patch_diff",
			args: { patch: patchName },
			callback: function (r) {
				if (r.message) {
					$('.diff-content').html(r.message.diff);
					$('.preview-content').html(r.message.merged_html);
					$('.patch-info').html(`<b>${r.message.raised_by}</b> submitted changes <b>${r.message.raised_on}</b>`);

					$('#patchDiffModal').modal('show');
				}
			}
		});
	});

	// Handle view toggle
	$('.view-toggle-buttons .btn').on('click', function () {
		$('.view-toggle-buttons .btn').removeClass('active');
		$(this).addClass('active');

		if ($(this).hasClass('view-raw')) {
			$('.diff-content').addClass('active');
			$('.preview-content').removeClass('active');
		} else {
			$('.preview-content').addClass('active');
			$('.diff-content').removeClass('active');
		}
	});

	$('.approve-patch').on('click', function () {
		frappe.call({
			method: "wiki.www.all-contributions.index.update_patch_status",
			args: {
				patch: $('.patch-row').data('patch'),
				status: "Approved"
			},
			callback: function (r) {
				if (r.message) {
					frappe.show_alert({ message: __("Patch approved successfully"), indicator: 'green' });
					window.location.reload();
				}
			}
		});
		$('#patchDiffModal').modal('hide');
	});

	$('.reject-patch').on('click', function () {
		frappe.call({
			method: "wiki.www.all-contributions.index.update_patch_status",
			args: {
				patch: $('.patch-row').data('patch'),
				status: "Rejected"
			},
			callback: function (r) {
				if (r.message) {
					frappe.show_alert({ message: __("Patch rejected successfully"), indicator: 'red' });
					window.location.reload();
				}
			}
		});
		$('#patchDiffModal').modal('hide');
	});

	$('.get_patches').on("click", () => {
		frappe.call({
			method: "wiki.www.all-contributions.index.get_patches_api",
			args: {
				start: parseInt($('[name="limit"]').val()),
				limit: 10,
			},
			callback: (response) => {
				if (response.message) {
					for (patch of response.message.patches) {
						$('.list-jobs tbody').append($(`
						<tr class="patch-row" data-patch="${patch.name}">
						<td class="message-cell" title="${patch.message}">${patch.message}</td>
							<td class="worker-name" title="${patch.status}">
								<span class="indicator-pill no-margin ${patch.color}">&nbsp;&nbsp;${patch.status}</span>
						</td>
						<td class="space-cell" title="${patch.space_name}">${patch.space_name}</td>
						<td class="raised-by-cell" title="${patch.raised_by}">${patch.raised_by}</td>
						<td class="date-cell" title="${patch.modified}">${patch.modified}</td>
						</tr>
				`));
					}
					$('[name="limit"]').val(parseInt($('[name="limit"]').val()) + response.message.patches.length);
					if ($('[name="limit"]').val() % 10 !== 0) $('.get_patches').hide();
				}
			},
			freeze: true,
		});
	});

	// Handle space filter change
	document.getElementById('space-filter').addEventListener('change', function () {
		const currentUrl = new URL(window.location.href);
		const searchParams = currentUrl.searchParams;

		// Update space parameter
		if (this.value) {
			searchParams.set('space', this.value);
		} else {
			searchParams.delete('space');
		}

		// Update URL without reloading the page
		history.pushState({}, '', currentUrl.toString());

		// Reload the content
		frappe.call({
			method: "wiki.www.all-contributions.index.get_patches_api",
			args: {
				start: 0,
				limit: 10,
				space: this.value
			},
			callback: (response) => {
				if (response.message) {
					// Clear existing table body
					const tbody = document.querySelector('.list-jobs tbody');
					tbody.innerHTML = '';

					// Add new patches
					for (const patch of response.message.patches) {
						tbody.insertAdjacentHTML('beforeend', `
						<tr class="patch-row" data-patch="${patch.name}">
							<td class="message-cell" title="${patch.message}">${patch.message}</td>
							<td class="worker-name" title="${patch.status}">
								<span class="indicator-pill no-margin ${patch.color}">&nbsp;&nbsp;${patch.status}</span>
							</td>
							<td class="space-cell" title="${patch.space_name}">${patch.space_name}</td>
							<td class="raised-by-cell" title="${patch.raised_by}">${patch.raised_by}</td>
							<td class="date-cell" title="${patch.modified}">${patch.modified}</td>
						</tr>
					`);
					}

					// Update limit input
					$('[name="limit"]').val(response.message.patches.length);

					// Show/hide 'More' button
					if (response.message.patches.length < 10) {
						$('.get_patches').hide();
					} else {
						$('.get_patches').show();
					}
				}
			},
			freeze: true,
		});
	});
</script>
{% endblock %}

{% block page_sidebar %}
{% endblock %}