{% extends "templates/doc.html" %}

{%- block head_include %}
{{ super() }}
<link rel="stylesheet" href="contributions.css">

{% endblock -%}




{% block breadcrumbs %}
{% endblock %}


{% block page_content %}
<div class="frappe-card">

    <div class="table-area">
        <div class="list-jobs">

            

            {% if contributions %}
            <table class="table table-borderless" style="table-layout: fixed;">
                <thead>
                    <tr>
                        <th >{{ _("Status") }}</th>
                        <th style="width: 55%">{{ _("Message") }}</th>
                        <th style="width: 25%">{{ _("Link") }}</th>

                    </tr>
                </thead>
                <tbody>
                    {% for j in contributions %}
                    <tr>
                        
					
                    <td class="worker-name"><span class="indicator-pill no-margin {{j.color}}"></span><span class="ml-2">{{ j.status }}</span>
                        </td>
                        <td >
                            {{ j.message }}
                        </td>
                        <td > <a class="btn btn-default btn-xs center" href="{{ j.edit_link }}">Open Contribution</a> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="no-background-jobs">
                <img src="/assets/frappe/images/ui-states/list-empty-state.svg" alt="Empty State">
                <p class="text-muted">{{ _("No Contributions Made") }}</p>
            </div>
            {% endif %}
           
        </div>
        </div>
</div>
{% endblock %}  


{% block base_scripts %}
<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/frappe-web.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-4-web.min.js"></script>


{% endblock %}



{%- block footer -%}
<div class="container">
<div class="footer-info">
	<div class="row">
		<div class="footer-col-left col-sm-6 col-12">

		</div>
		{# powered #}
		<div class="footer-col-right col-sm-6 col-12 footer-powered">
			{% block powered %}
			{% include "templates/includes/footer/footer_powered.html" %}
			{% endblock %}
		</div>
	</div>
</div>
</div>
{%- endblock -%}