{% extends "wiki/doctype/wiki_page/templates/wiki_doc.html" %}


{%- block head_include %}
{{ super() }}
{{ include_style('wiki.bundle.css') }}
{% endblock -%}

{% block page_content %}
    <div class="from-markdown">
        <h1>{{ title }}</h1>
    </div>
    <div class="mt-8">
        {%- for revision in revisions -%}
        <ul class="list-unstyled wiki-revision-list">
            <li class="wiki-revision">
                <a class="wiki-revision-message" href="/compare?wiki_page={{ doc.name }}&&compare={{ revision.name }}">{{ revision.message }}</a>
                <p class="wiki-revision-meta">
                    {%- if revision.raised_by -%}
                        {{ revision.raised_by }} 
                    {%- else  -%} 
                        {{revision.owner }} 
                    {%- endif  -%} 
                    &nbspedited on {{ frappe.utils.format_datetime(revision.creation, 'medium') }}
                </p>
            </li>
        </ul>
        {%- endfor -%}
    </div>
{% endblock %}


{%- block navbar -%}
{% include "wiki/doctype/wiki_page/templates/wiki_navbar.html" %}

{%- endblock -%}

